.navbar-brand {
  color: black;
}
.navbarhead {
  background-color: aliceblue;
}
#mapid {
  height: 400px;
  width: 700px;
}
.notshown {
  opacity: 0;
}
.helpjs {
  display: none;
}
#overlay {
  z-index: 2;
  position: relative;
}
.carousel-inner img {
  margin: auto;
}
