{% extends "base.html" %}

{% block body %}
  <div class="row">
        {% for nation in nations %}
        <div class="col-md-3 mb-5">
            <div class="card">
                <img src={{nation['flag']}} class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{nation['nation']}}</h3>
                    <p class="card-text">
                      {{nation['rating']}} <br>
                    </p>
                    <a href={{"/country/"+nation['nation'].replace(" ","")}} class="btn btn-primary stretched-link notshown">Go to country</a>
                    <div id="overlay">
                      <form action="/fav">
                      <input class="btn-primary" id="helpjs" type="text" name="country" value={{nation['nation']}}>
                      {% if nation['nation'] in favorites %}
                        <input class="btn-primary" type="submit" name="submit" value="Unfavorite this country">
                      {% else %} 
                        <input class="btn-primary" type="submit" name="submit" value="Favorite this country">
                      {% endif %}
                      </form>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}
