{% extends "base.html" %}

{% block body %}
  <div class="row">
        {% for nation in nations %}
        <div class="col-md-3 mb-5">
            <div class="card">
                <img src={{nation['flag']}} class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{nation['nation']}}</h3>
                    <p class="card-text">
                      {{nation['rating']}} <br>
                    </p>
                    <a href={{nation['nation']}} class="btn btn-primary stretched-link notshown">Go to country</a>
                    <form action="/fav">
                      <input class="btn-primary" type="submit" name={{nation['nation']}} value="Favorite this country">
                    </form>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}
