{% extends "base.html" %}
{% block script %}
  <script src={{url_for('static', filename='home.js')}}></script>
{% endblock %}
{% block body %}
  Favorites:
  <ul class="list-group" id="favorites">
    {% for i in favorites %}
      <li class="list-group-item">i
      <span class="badge badge-secondary">Remove</span></li>
    {% endfor %}
  </ul>
  <p>List:</p>
  <ol id="thelist">
      <li>item 0</li>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
      <li>item 4</li>
      <li>item 5</li>
      <li>item 6</li>
      <li>item 7</li>
    </ol>
    <button id="b">The button</button>
{% endblock %}
