{% extends "base.html" %}
{% block css %}
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css
" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
{% endblock %}
{% block script %}
  <script src={{url_for('static', filename='dummy.js')}}></script>
  <script src="https://tiles.locationiq.com/js/leaflet-unwired.js"></script>
{% endblock %}
{% block body %}
  <div class="jumbotron text-center" style="background-image:url({{flag}}); background-size: cover; background-position: center top;">
    <div class="container" style="margin:auto;">
      <h3 class="display-3" style="background-color: white;">{{nation}}</h3>
      <div id="outerdiv"><div id="mapid" style="display:inline-block;"></div></div>
      <button type="button" class="btn btn-outline-primary addpointer" style="background-color: white;">Find a restaurant for me!</button>
      <button type="button" class="btn btn-outline-primary addpointer" style="background-color: white;">I need a place to stay!</button>
      <button type="button" class="btn btn-outline-primary addpointer" style="background-color: white;">Where can I find art and history?</button>
      <br>
      <button type="button" class="btn btn-secondary" id="removepointer">Clear</button>
      <br><br><br><br>
      <div class="container" style="background-color: white;">
        <h4 class="display-4">Fun Facts</h3>
        <br><br>
      </div>
    </div>
  </div>
  <div id="helpjs">
    <p id="lat">{{lat}}</p>
    <p id="lon">{{lon}}</p>
    <p id="clat">{{clat}}</p>
    <p id="clon">{{clon}}</p>
    <p id="zoom">{{zoom}}</p> 
  </div>
{% endblock %}
